.listebouton {
    position:absolute;
    right: 10px;
    top : 50%;    
}

.liste {    
    position: relative;
    width: 70%;
    left:15%;
}

.collection{
    margin-left:10%;
    margin-right:10%;
}

#select-comp-article {
    width: 80vw;
}

#select-wrapper {
    width: 100vw;
    text-align: center;
}

#list-article-wrapper {
    width: 80vw;
    margin: 1em auto 0 auto;
}

@media screen and (max-width: 600px) {
    #list-article-wrapper {
        width: 95vw;
    }
}