#menu {
    position: fixed;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
    width: 300px;
    z-index: 300;
}

#calendar_wrapper {
    position: absolute;
    height: calc(100vh - 84px);
    width: calc(100vw - 320px);
    margin: 10px;
    top: 64px;
    left: 300px;
    overflow: hidden;
}