#search {
    position: relative;
    width: calc(60% - 22px);
    height: 83px;
    margin: 1em 20%;
    border: 1px solid #bebebe;
    -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 0 10px;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    #search {
        width: calc(96% - 22px);
        margin: 1em 2%;
    }
}

.search_select {
    padding: 0 .25em;
    text-align: center;
    display: inline-block;
}

#search>:nth-child(2) {
    width: 75%;
}

#search>:nth-child(3) {
    width: 75%;
}

#search>:nth-child(4) {
    width: 75%;
}

#search>:nth-child(5) {
    width: 75%;
}

#search>:nth-child(6) {
    position: absolute;
    top: 21px;
    width: 25%;
    right: 0;
}

#search_btn {
    width: 90%;
    padding: 0;
    text-align: center;
}

#search_btn_resp {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50px;
    width: 56px;
    height: 56px;
    line-height: 56px;
}

#search_btn_resp>i {
    margin-left: -15px;
    font-size: 220%;
}

#filter-list {
    width: 70%;
    height: 81px;
    line-height: 81px;
}

#filter-edit-btn {
    position: absolute;
    top: 0;
    right: 25%;
    width: 5%;
    height: 81px;
    line-height: 81px;
    text-align: center;
}

@media screen and (max-width: 600px) {

    #search {
        width: 100%;
        margin: 0;
        border: none;
    }

    #search_btn {
        display: none;
    }

    #search>:nth-child(1) {
        width: 100%;
    }

    #search>:nth-child(2) {
        width: 100%;
    }
    
    #search>:nth-child(3) {
        width: 100%;
    }
    
    #search>:nth-child(4) {
        width: 100%;
    }
    
    #search>:nth-child(5) {
        width: 100%;
    }
    
    #search>:nth-child(6) {
        position: absolute;
        top: 21px;
        width: 25%;
        right: 0;
    }
    
    #search_btn_resp {
        display: block;
    }

    #filter-edit-btn {
        right: 0;
    }

}