#login-wrapper  { width: 500px; margin-top: 20vh; padding: 20px; }
.login-resp-label { display: none; color: #495057;}

@media (max-width: 500px) {

    #login-wrapper  { margin: 0; height: 100vh; width: 100vw; }
    .login-label    { display: none; }
    .input-group-login .form-control:not(:first-child) { border-radius: .25rem; }
    .login-resp-label { display: block; }

}