body{color:#4e4e4e;height:100%;overflow-x:hidden}
nav .nav-wrapper, nav{z-index:900}
nav{position:relative}
.row{padding-bottom:20px}

/* ===========================================================
    #cms
   =========================================================== */

.bg-epsi{background-color:#4b3b84}
.bg-epsi2{background-color:#00A4BB}
.bg-epsi3{background-color:#5CAE3E}
.bg-epsi4{background-color:#FFE419}
.bg-epsi5{background-color:#F08032}
.mw-75{max-height:75%}
.mt-1{margin-top:1em}
.ml-1{margin-left:1em}
.txt-center{text-align:center}
.txt-left{text-align:left}
.clickable{cursor:pointer}
.border{border: 1px solid #bebebe}
.rounded{border-radius: .25em}
.mh-auto{margin-left:auto;margin-right:auto}
.w-100-center{width:100%;text-align:center}
.h-90{height:90%}
.h-auto{height: auto}
.w-90{width:90%}
.w-100{width:100%}
.w-auto{width:auto}
.p-1{padding:1em}
.shadow{-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);}
.fixed{position:fixed}
.self-centered{margin:initial auto initial auto}
.row .p-no,.p-no{padding:0}
.inline{display:inline-block}

/* ===========================================================
    #nav bar
   =========================================================== */

@media screen and (min-width: 992px) {
    .ml-1-resp-992{margin-left:1em}
}

#slide_menu_btn {
    position: absolute;
    left: 15px;
    display: none;
}

@media screen and (max-width: 992px) {
    #slide_menu_btn {
        display: block;
    }
}

#slide_menu {
    position: fixed;
    text-align: center;
    width: 210px;
    height: 100vh;
    top: 0px;
    padding-top: 56px;
    left: -210px;
    z-index: 1000;
    transition-duration: 0.2s;
    color: #fff;
    font-size: 120%;
    z-index: 300;
}

#slide_menu ul  { list-style: none; margin: 0; padding: 0;}
#slide_menu li  { margin: 10px 0; }
#slide_menu a,
#slide_menu a:hover { text-decoration: none; color: inherit;}

/* ===========================================================
    #search bar
   =========================================================== */

.inscription {
    
    width: 60%;
    margin-left: 20%;
    margin-top:3%;
    height: auto;
    padding-top: 20px;
}

.photo {
    
    margin-top: 30px;
}

.logfichier {
    
    width: auto;
    margin-left: 20%;
    margin-top:3%;
    height: 25%;
    padding-top: 20px;
    font-size:30px;
}

.comptext {
    
    font-size: 20px;
    
}

.Talents {
    
    padding-bottom: 30px;
}

.messagerie {
   margin-top:3%;
}

.listuser {
    position:fixed;
    left: 15px;
    top: 75px;
    width:300px
}

.profiluser {
    width: 60%;
    margin-top:3%;
    height: auto;
}

/* ===========================================================
    #search result
   =========================================================== */

#founded-user {
    width: calc(60% - 20px);
    margin: 2em 20%;
}

#calendar-perso-wrapper {
    width: calc(60% - 20px);
    margin: 2em 20%;
    height: 700px;
}

@media screen and (max-width: 992px) {
    #founded-user {
        width: calc(96% - 20px);
        margin: 2em 2%;
    }
    #calendar-perso-wrapper {
        width: calc(96% - 20px);
        margin: 2em 2%;
    }
}

@media screen and (max-width: 600px) {
    #founded-user {
        width: 100%;
        margin: 2em 0;
    }
    #calendar-perso-wrapper {
        width: 100%;
        margin: 2em 0;
    }
}

/* ===========================================================
    #user insearch result
   =========================================================== */

.user {
    position: relative;
    width: calc(48% - 2px);
    margin: 1em 1% 0 1%;
    height: 100px;
    overflow: hidden;
    display: inline-block;
}

.user>:nth-child(1) {
    height: 100%;
}

.user>:nth-child(2) {
    position: absolute;
    padding-left: 3px;
    top: 0;
    height: 100%;
}

.user img {
    height: 100%;
    width: auto;
}

.user-name {
    font-size: 150%;
}

.user>* {
    display: inline-block;
}

@media screen and (max-width: 1260px) {
    .user {
        width: calc(98% - 2px);
    }
}

/* ===========================================================
    #card responsive
   =========================================================== */

@media screen and (max-width: 700px) {
    .card-responsive{
        width: 100%;
        margin: 0;
    }
    .row {
        margin-bottom: 0;
    }
}

/* ===========================================================
    #calendar responsive
   =========================================================== */

.btn_menu_calendar_resp {
    padding: 1em;
    display: none;
}

.btn_menu_calendar_resp i {
    font-size: 230%;
}

@media screen and (max-width: 1300px) {
    .btn_menu_calendar_resp {
        display: block;
    }
    #menu {
        background-color:rgb(228, 228, 228)
    }
    #calendar_wrapper {
        width: calc(100vw - 20px);
        left: 0;
    }
}

/* ===========================================================
    #messages
   =========================================================== */

#message-wrapper {
    width: auto;
    margin-left: 330px;
    margin-right: 150px;
    margin-top: 3%;
    height: auto;
    padding-top: 20px;
}

@media screen and (max-width: 1200px) {

    .listuser {
        position: relative;
        top: 20px;
        margin: 0 auto 2em auto;
        width: 80vw;
        left: unset;
    }

    #message-wrapper {
        position: relative;
        width: 80vw;
        margin: 0 auto 0 auto;
        padding-top: 20px;
    }

}

@media screen and (max-width: 600px) {

    .listuser {
        width: 95vw;
    }

    #message-wrapper {
        width: 95vw;
    }

}