.alignement {
    width: auto;
    height: auto;
    text-align: center;
}

.infoprofil {
    width:50%;
    margin-left: 25%;
}

.alignementbtn {
    position:relative;
}

.modalbutton {
    margin : 15px;
}

.modifdate {
    height:600px;
}

.form_create_event {
    text-align: center;
    position: relative;
}

.form_create_event>* {
    position: relative;
    width: 100%;
    margin-bottom: 2em;
}